body {
  margin: 0px;
}

#contenedorAnimacion {
  background-color: rgb(209, 36, 36);
  width: 100vw;
  height: 100vh;
}

#lienzo {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 1);
}
